<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- sparator array char ":" -->
		<add key="MusicPlayerApplication" value="C:\Program Files\foobar2000\foobar2000.exe"/>
		<add key="AudioFileExtensions" value =".MP3:.FLAC:.APE:.WAV:.WP:.CUE"/>
	</appSettings>
</configuration>



